{% extends 'mailings/base.html' %}
{% block content %}
{% load my_tags_blog %}
<div class="container">
    <div class="row text-center">
        <div class="col-10">
            <div class="card mb-4 box-shadow">
                <h1 class="my-0 font-weight-normal">{{object.title}}</h1>


                <div class="card-body">

                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                          <p> {{object.text}} </p>
                    </ul>

                       <div class="card mb-4 box-shadow">
                    <img src="{{ blog.image | media_filter }}">
                           </div>


                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                          <p> Просмотры {{ blog.count_of_view }} </p>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> Дата публикации {{object.published}}</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}