<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <a class="p-2 btn btn-sm btn-outline-secondary" href="{% url 'mailings:client_list' %}">Клиенты</a>
        <a class="p-2 btn btn-sm btn-outline-secondary" href="{% url 'mailings:client_create' %}">Создать клиента</a>
        <a class="p-2 btn btn-sm btn-outline-secondary" href="{% url 'mailings:message_list' %}">Сообщения</a>
        <a class="p-2 btn btn-sm btn-outline-secondary" href="{% url 'mailings:message_create' %}">Создать сообщение</a>
        <a class="p-2 btn btn-sm btn-outline-secondary" href="{% url 'mailings:newsletter_list' %}">Рассылки</a>
        <a class="p-2 btn btn-sm btn-outline-secondary" href="{% url 'mailings:newsletter_create' %}">Создать рассылку</a>
        <a class="p-2 btn btn-sm btn-outline-secondary" href="{% url 'mailings:logs_list' %}">Статистика</a>
    </nav>
</div>

